/* Box Model Hack */
* {
box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  font-family: sans-serif;

}

* {
  padding: 0;
  margin: auto;
}

/******************************************
/* LAYOUT
/*******************************************/

header, section, footer{
width: 100%;
}

a:focus, button:focus, a:active, button:active {
  border: 0.3rem solid #c92525;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media screen and (max-width: 768px){
  
.sectionMiddle p {
  padding: 2% 10% 5% 10%;
}

.sectionContent {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
}

.sectionContent .sectionMiddle{
  order: 1;
}

.sectionContent .section401, .sectionContent .section403 {
  padding-left: 0%;
  padding-right: 0%;
}

nav {
  font-size: 1.5rem;
  flex-direction: column-reverse;
}

section .section401, section .section403 {
  width: 100%;
}

nav span {
  padding-bottom: 1%;
}

.navAccess {
  display: none;
}

}

/******************************************
/* HEADER
/*******************************************/

.accessButton {
  padding: 0 5%;
  color:#000000;
  text-shadow: 0px 0px 0px #353d46;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  height: 3rem;
  width: 3rem;
  border: solid 2px #ffffff;
  border-radius: 10px;
  background-color: #c2cad3;
}

.accessIcon img {
  height: 1.5rem;
  width: 1.5rem;
}

.listenButton {
  color:#000000;
  text-shadow: 0px 0px 0px #353d46;
  padding: 0.5%;
  margin: auto;
  border: none;
  height: 4rem;
  width: 4rem;
  background-color: #ffffff;
  display: flex;
  align-self: center;
}


a {
  color: #063d5d;
  text-decoration: none;
}

a:visited, a:hover {
  color: #c92525;
}

header{
background-color:#ffffff;
height:fit-content;
display: flex;
}

nav {
width: 100%;
height: fit-content;
color: #000000;
text-align: center;
display:flex;
font-size: 1.6rem;
}

.headerLogo {
height: 8rem;
}

.navAccess {
  display: flex;
  justify-content: space-between;  
}

.accessIcon {
  padding-left: 1%;
}

.accessIcon svg {
  height: 1.5rem;
}

.navAccess figcaption {
  font-size: 1rem;
}



/******************************************
/* BODY
/*******************************************/

.sectionBanner {
  background-color: #8499B1;
  height: fit-content;
  color: #000000;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.607) 35%, rgba(255,255,255,1) 100%), url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px #bebebe;
}

.sectionBanner h1, .sectionMiddle h2 {
  font-size: 5rem;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.1rem;
  padding-top: 5%;
  color: #063d5d;
  text-shadow: 1px 1px 2px #bebebe;
}

.sectionBanner p {
  font-size: 2rem;
  text-align: center;
  line-height: 150%;
  padding: 5% 10%;
}


.sectionMiddle h2 {
    font-size: 4rem;
  }

.sectionContent {
  padding: 2% 5% 2% 5%;
  display:flex;
}

.sectionContent img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  padding-bottom: 2%;
}

.section401, .section403 {
  width: 50%;
}

.sectionContent > section {
  border: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 0;
}

.section401 {
  padding-right: 3%;
}

.section403 {
  padding-left: 3%;
}

.section401 h2, .section403 h3 {
  padding-top: 2%;
  font-size: 2rem;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #bebebe;
}

.section401 p, .sectionMiddle p, .section403 p {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  padding: 5%;
}

.sectionMiddle p+p {
  padding-top: 0%;
}

button {
  padding: 5%;
  color:#ffffff;
  text-shadow: 1px 1px 2px #353d46;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  height: 5rem;
  border: solid 1px #063d5d;
  border-radius: 10px;
  background-color: #063d5d;
}

.easterButton {
  height: 3rem;
  width: 3rem;
  padding: 2%;
  border: none;
  background-color: #ffffff00;
}


/******************************************
/* FOOTER
/*******************************************/

.footerWow {
background-color: black;
line-height: 120%;
color: #131518;
font-size: 1.5rem;
display:flex;
background: linear-gradient(to bottom,rgb(255, 255, 255), rgba(255, 255, 255, 0)), url(https://images.unsplash.com/photo-1562088746-125fc60079ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) top no-repeat;
background-size: cover;
text-shadow: 1px 1px 2px #353d46;
}

.footerWow section {
  padding: 5%;
  text-align: center;
}

