/* Box Model Hack */
* {
box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;
  font-weight: lighter;
  font-family: sans-serif;

}

* {
  padding: 0;
  margin: auto;
}

/******************************************
/* LAYOUT
/*******************************************/

header, section, footer{
width: 100%;
}

a:focus, button:focus, a:active, button:active {
  border: 0.3rem solid #c92525;
}

/******************************************
/* MEDIA QUERY
/*******************************************/

@media screen and (max-width: 768px){
  
.sectionMiddle p {
  padding: 2% 10% 5% 10%;
}

.sectionContent {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sectionContent .sectionMiddle{
  order: 1;
}

.sectionContent .section401, .sectionContent .section403 {
  padding-left: 0%;
  padding-right: 0%;
}

nav {
  font-size: 1.5rem;
  flex-direction: column-reverse;
}

nav span {
  padding-bottom: 1%;
}

.navAccess {
  display: none;
}

}

/******************************************
/* HEADER
/*******************************************/
header{
background-color:#ffffff;
height:fit-content;
display: flex;
}

nav {
width: 100%;
height: fit-content;
color: #000000;
text-align: center;
display:flex;
font-size: 1.6rem;
}

.headerLogo {
height: 8rem;
}

.navAccess {
  display: flex;
  justify-content: space-between;  
}

.accessIcon {
  padding-left: 1%;
}

.accessIcon svg {
  height: 1.5rem;
}

.navAccess figcaption {
  font-size: 1rem;
}



/******************************************
/* BODY
/*******************************************/

.sectionBanner {
  background-color: #8499B1;
  height: fit-content;
  color: #000000;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 35%, rgba(255,255,255,1) 100%), url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
  background-size:cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 2px #353d46;
}

.sectionBanner h1, .sectionMiddle h2 {
  font-size: calc(2rem + 3vw);
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 0.1rem;
  padding-top: 5%;
  color: #063d5d;
  text-shadow: 1px 1px 2px #8499B1;
}

.sectionBanner p {
  font-size: calc(1rem + 1vw);
  text-align: center;
  line-height: 150%;
  padding: 5% 10% 10% 10%;
}

.sectionMiddle h2 {
    font-size: calc(1rem + 2vw);
  }

.sectionMiddle p {
    font-size: calc(1rem + 0.5vw);
    text-align: center;
    line-height: 1.5;
    padding: 2% 30% 7% 30%;
  }

.sectionContent {
  padding: 2% 5% 2% 5%;
  display:flex;
  justify-content:space-between;
}

.sectionContent img {
  max-width: 50%;
  height: auto;
  padding-bottom: 2%;
}

.section401, .section403 {
  width: 50%;
  border: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section401 {
  padding-right: 3%;
}

.section403 {
  padding-left: 3%;
}

.section401 h3, .section403 h3 {
  padding-top: 2%;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bolder;
  text-shadow: 1px 1px 2px #353d46;
}

.section401 p, .section403 p {
  font-size: calc(1rem + 0.3vw);
  line-height: 1.5;
  padding: 5% 0 5% 0;
}

button {
  padding: 5%;
  color:#ffffff;
  text-shadow: 1px 1px 2px #353d46;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  height: 7vh;
  border: solid 1px #063d5d;
  border-radius: 10px;
  background-color: #063d5d;
}


/******************************************
/* FOOTER
/*******************************************/

.footerWow {
background-color: black;
line-height: 120%;
color: #131518;
font-size: calc(1rem + 0.3vw);
display:flex;
background: linear-gradient(to bottom,rgb(255, 255, 255), rgba(255, 255, 255, 0)), url(https://pbs.twimg.com/media/DFLsvIuXgAALTpV?format=jpg&name=large) top no-repeat;
background-size: cover;
text-shadow: 1px 1px 2px #353d46;
}

.footerLeft {
  text-align: left;
  padding: 5%;
}

.footerRight {
  text-align: right;
  padding: 5%;
}